<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    {{!-- Linking CSS --}}
    <link rel="stylesheet" href="style.css">

    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Patrick+Hand&display=swap" rel="stylesheet">

    <title>Smile Foundation</title>
</head>

<body>
    {{!-- navbar --}}
    <div class="Navbar_Content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Smile Foundation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/getinvolved">Get Involved</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {{!-- About Us Page  --}}
    <div class="aboutUs_page">
        <div class="heading">Who Are We!</div>
        <div class="aboutus_page_content">
            <ul>
                <li class="content">One of the greatest problems in the world today is hunger. While many of us enjoy the pleasures of cooking
            satisfying meals at home as well as dining out, there are millions of people that do not get enough to eat.</li>
                <li class="content">The Smile Foundation is small organisation, currently working in some parts of India. The basic idea behind this
            organisation is to feed people who lacks with the basic food requirement.
            The organization takes nutritious food—before it goes to waste—from retailers, manufacturers, and farmers
            and gives it to people in need.</li>
                <li class="content">Our ultimate aim is to end food poverty and increase access to affordable
            nutritious food. The organization also responds to emergencies and natural disasters and promotes programs of agricultural production to reduce hunger.</li>
            </ul>
        </div>

    </div>

    {{!-- footer --}}
    <div class="footer">
        <div class="copyright_content">Copyright &copy Smile Foundation. All rights reserved.</div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>