<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    {{!-- Linking CSS --}}
    <link rel="stylesheet" href="style.css">

    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Patrick+Hand&display=swap" rel="stylesheet">

    <title>Smile Foundation</title>
</head>

<body>
    {{!-- navbar --}}
    <div class="Navbar_Content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Smile Foundation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/getinvolved">Get Involved</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {{!-- homePage --}}
    <div class="row home_page">
        <div class="home_page_content col-md-6 col-12">
            <div class="head1">MAKE A DIFFERENCE!</div>
            <span class="head2">Help Us To Eliminate Hunger...</span>
            <div class="head3">Even the smallest donations can help change a life.</div>
            <div><a href="https://rzp.io/l/cxfBu43" target="_blank" class="donate_btn">Donate</a></div>

        </div>

        <div class="home_page_image col-md-6 col-12">
            <img src="home_page_img.jpg" alt="home_page_image" class="home_img">
        </div>
    </div>

    {{!-- footer --}}
    <div class="footer">
        <div class="copyright_content">Copyright &copy Smile Foundation. All rights reserved.</div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>